<header class="header" >
  <nav class="header__nav" >
    <ul class="header__list" >
      <li class="header__item" ><a [routerLink]="['/']" class="header__route" >Inicio</a ></li >
      <li class="header__item" ><a [routerLink]="['/', 'personas']" class="header__route" >Personas</a ></li >
      <li class="header__item" ><a [routerLink]="['/', 'usuarios']" class="header__route" >Usuarios</a ></li >
      <li class="header__item" ><a [routerLink]="['/', 'tipos-usuario']" class="header__route" >Tipos de usuario</a >
      </li >
      <li class="header__item" ><a [routerLink]="['/', 'equipos']" class="header__route" >Equipos</a ></li >
      <li class="header__item" ><a [routerLink]="['/', 'tipos-equipo']" class="header__route" >Tipos de equipo</a >
      </li >
      <li class="header__item" ><a [routerLink]="['/', 'marcas']" class="header__route" >Marcas</a ></li >
      <li class="header__item" ><a [routerLink]="['/', 'tipos-documento']" class="header__route" >Tipos de
        documento</a >
      </li >
      <li class="header__item" ><a [routerLink]="['/prestamos']" class="header__route" >Prestamos</a ></li >
    </ul >
  </nav >
</header >
