<div class="mume markdown-preview  " >
  <h1 class="mume-header" id="pol%C3%ADtica-de-protecci%C3%B3n-de-datos-punto-digital" >POL&#xCD;TICA DE PROTECCI&#xD3;N
    DE DATOS: PUNTO DIGITAL</h1 >

  <p ><code >Versi&#xF3;n No. 1.</code ></p >
  <h2 class="mume-header" id="tabla-de-contenido" >TABLA DE CONTENIDO</h2 >

  <ul >
    <li ><a href="#pol%C3%ADtica-de-protecci%C3%B3n-de-datos-punto-digital" >POL&#xCD;TICA DE PROTECCI&#xD3;N DE DATOS:
      PUNTO DIGITAL</a >
      <ul >
        <li ><a href="#tabla-de-contenido" >TABLA DE CONTENIDO</a ></li >
        <li ><a href="#1-introducci%C3%B3n" >1. INTRODUCCI&#xD3;N</a ></li >
        <li ><a href="#2-definiciones" >2. DEFINICIONES</a ></li >
        <li ><a href="#3-principios" >3. PRINCIPIOS</a ></li >
        <li ><a href="#4-derechos-de-los-titulares" >4. DERECHOS DE LOS TITULARES</a ></li >
        <li ><a href="#5-autorizaci%C3%B3n" >5. AUTORIZACI&#xD3;N</a >
          <ul >
            <li ><a href="#51-autorizaci%C3%B3n" >5.1. Autorizaci&#xF3;n</a ></li >
            <li ><a href="#52-casos-en-los-que-no-se-requiere-autorizaci%C3%B3n-del-titular-de-los-datos" >5.2. Casos en
              los que no se requiere autorizaci&#xF3;n del titular de los datos</a ></li >
          </ul >
        </li >
        <li ><a href="#6-deberes-del-responsable-del-tratamiento" >6. DEBERES DEL RESPONSABLE DEL TRATAMIENTO</a ></li >
        <li ><a href="#7-deberes-de-los-encargados-del-tratamiento" >7. DEBERES DE LOS ENCARGADOS DEL TRATAMIENTO</a >
        </li >
        <li ><a href="#8-responsable-y-encargados-del-tratamiento" >8. RESPONSABLE Y ENCARGADOS DEL TRATAMIENTO</a >
        </li >
        <li ><a href="#9-finalidades-en-el-tratamiento-de-la-informaci%C3%B3n-por-parte-del-punto-digital" >9.
          FINALIDADES EN EL TRATAMIENTO DE LA INFORMACI&#xD3;N POR PARTE DEL PUNTO DIGITAL</a ></li >
        <li ><a href="#10-atenci%C3%B3n-a-los-titulares-de-datos" >10. ATENCI&#xD3;N A LOS TITULARES DE DATOS</a ></li >
        <li ><a href="#11-procedimientos-para-ejercer-los-derechos-del-titular" >11. PROCEDIMIENTOS PARA EJERCER LOS
          DERECHOS DEL TITULAR</a >
          <ul >
            <li ><a href="#111-derecho-de-acceso-o-consulta" >11.1. Derecho de acceso o consulta</a ></li >
            <li ><a href="#112-reclamos" >11.2. Reclamos</a ></li >
          </ul >
        </li >
        <li ><a href="#12-aplicaci%C3%B3n-de-la-ley-de-protecci%C3%B3n-de-datos-personales" >12. APLICACI&#xD3;N DE LA
          LEY DE PROTECCI&#xD3;N DE DATOS PERSONALES</a ></li >
        <li ><a href="#13-vigencia" >13. VIGENCIA</a ></li >
        <li ><a href="#14-notas" >14. Notas</a ></li >
      </ul >
    </li >
  </ul >
  <h2 class="mume-header" id="1-introducci%C3%B3n" >1. INTRODUCCI&#xD3;N</h2 >

  <p >El punto digital ser&#xE1; la RESPONSABLE del tratamiento y protecci&#xF3;n de datos personales, en tal virtud,
    podr&#xE1; recolectar, almacenar, usar, transmitir, eliminar, modificar y dem&#xE1;s operaciones conexas respecto de
    la informaci&#xF3;n personal recolectada, para las siguientes finalidades:</p >
  <p >Es as&#xED; como, con base en estos principios y en b&#xFA;squeda de salvaguardar las garant&#xED;as
    constitucionales consagradas en el Art&#xED;culo 15 de la Carta Pol&#xED;tica, referentes al derecho que tienen
    todas las personas a su intimidad familiar y personal, y as&#xED; mismo a la posibilidad de conocer, actualizar y
    rectificar las informaciones que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades p&#xFA;blicas
    y privadas, el punto digital presenta a la comunidad la siguiente Pol&#xED;tica de Protecci&#xF3;n de Datos
    Personales, lo anterior conforme a los lineamientos se&#xF1;alados en la Ley 1581 de 2012 y sus decretos
    reglamentarios.</p >
  <h2 class="mume-header" id="2-definiciones" >2. DEFINICIONES</h2 >

  <p >Las siguientes son las definiciones consagradas en la Ley 1581 de 2012, que permitir&#xE1;n conocer el desarrollo
    de cada uno de los temas planteados en el presente documento:</p >
  <ol >
    <li ><strong >Tratamiento</strong >: Cualquier operaci&#xF3;n o conjunto de operaciones sobre los datos personales,
      tales como la recolecci&#xF3;n, almacenamiento, actualizaci&#xF3;n, uso, circulaci&#xF3;n o supresi&#xF3;n.
    </li >
    <li ><strong >Dato personal</strong >: Cualquier informaci&#xF3;n vinculada o que pueda asociarse a una o varias
      personas naturales determinadas o determinables.
    </li >
    <li ><strong >Dato p&#xFA;blico</strong >: Es el dato que no sea semiprivado, privado o sensible. Son considerados
      datos p&#xFA;blicos, entre otros, los datos relativos al estado civil de las personas, a su profesi&#xF3;n u
      oficio y a su calidad de comerciante o de servidor p&#xFA;blico. Por su naturaleza, los datos p&#xFA;blicos pueden
      estar contenidos, entre otros, en registros p&#xFA;blicos, documentos p&#xFA;blicos, gacetas y boletines oficiales
      y sentencias judiciales debidamente ejecutoriadas que no est&#xE9;n sometidas a reserva.
    </li >
    <li ><strong >Datos sensibles</strong > : Se entiende por datos sensibles aquellos que afectan la intimidad del
      titular o cuyo uso indebido puede generar su discriminaci&#xF3;n, tales como aquellos que revelen el origen racial
      o &#xE9;tnico, la orientaci&#xF3;n pol&#xED;tica, las convicciones religiosas o filos&#xF3;ficas, la pertenencia a
      sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido pol&#xED;tico
      o que garanticen los derechos y garant&#xED;as de partidos pol&#xED;ticos de oposici&#xF3;n, as&#xED; como los
      datos relativos a la salud, a la vida sexual, y los datos biom&#xE9;tricos<sup >[1]</sup >.
    </li >
    <li ><strong >Base de datos</strong > : Conjunto organizado de datos personales que sea objeto de tratamiento.</li >
    <li ><strong >Titular</strong >: Persona natural cuyos datos personales sean objeto de tratamiento.</li >
    <li ><strong >Autorizaci&#xF3;n</strong >: Consentimiento previo, expreso e informado del Titular para llevar a cabo
      el tratamiento de datos personales.
    </li >
    <li ><strong >Responsable del Tratamiento</strong >: Persona natural o jur&#xED;dica, p&#xFA;blica o privada, que
      por s&#xED; misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos.
    </li >
    <li ><strong >Encargado del Tratamiento</strong >: Persona natural o jur&#xED;dica, p&#xFA;blica o privada, que por
      s&#xED; misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del Responsable del
      Tratamiento.
    </li >
  </ol >
  <h2 class="mume-header" id="3-principios" >3. PRINCIPIOS</h2 >

  <p >El punto digital estructura su Pol&#xED;tica de Protecci&#xF3;n de Datos Personales con base en los siguientes
    principios:</p >
  <ol >
    <li ><strong >Principio de finalidad</strong >: El tratamiento de la informaci&#xF3;n en el punto digital obedece a
      una finalidad leg&#xED;tima de acuerdo con la Constituci&#xF3;n y la Ley, para el desarrollo de actividades
      relacionadas con su objeto social.
    </li >
    <li ><strong >Principio de libertad</strong >: El tratamiento solo puede ejercerse con el consentimiento previo,
      expreso e informado del Titular. Los datos personales no podr&#xE1;n ser obtenidos o divulgados sin previa
      autorizaci&#xF3;n.
    </li >
    <li ><strong >Principio de veracidad o calidad</strong >: La informaci&#xF3;n sujeta a tratamiento debe ser veraz,
      completa, exacta, actualizada, comprobable y comprensible.
    </li >
    <li ><strong >Principio de transparencia</strong >: En el tratamiento debe garantizarse el derecho del Titular a
      obtener del responsable del Tratamiento o del Encargado del Tratamiento, informaci&#xF3;n sobre los datos que
      reposen en sus bases de datos que le conciernan.
    </li >
    <li ><strong >Principio de seguridad</strong >: La informaci&#xF3;n sujeta a tratamiento se deber&#xE1; manejar con
      las medidas t&#xE9;cnicas humanas y administrativas que sean necesarias para otorgar seguridad a los registros,
      evitando su adulteraci&#xF3;n, p&#xE9;rdida, consulta, uso o acceso no autorizado o fraudulento.
    </li >
    <li ><strong >Principio de confidencialidad</strong >: Todas las personas que intervienen en el tratamiento de datos
      est&#xE1;n obligadas a garantizar la reserva de la informaci&#xF3;n, inclusive una vez finalizada su relaci&#xF3;n
      con alguna de las labores que comprende el tratamiento.
    </li >
  </ol >
  <h2 class="mume-header" id="4-derechos-de-los-titulares" >4. DERECHOS DE LOS TITULARES</h2 >

  <p >Los Titulares de datos personales que reposen en las bases de datos del punto digital, tienen los siguientes
    derechos:</p >
  <ol >
    <li ><strong >Derecho a conocer, actualizar y rectificar sus datos personales</strong > : Los Titulares de datos
      personales podr&#xE1;n ejercer este derecho frente a datos parciales, inexactos, incompletos, fraccionados, que
      induzcan a error o aquellos cuyo tratamiento este expresamente prohibido o no haya sido autorizado.
    </li >
    <li ><strong >Derecho a solicitar prueba de la autorizaci&#xF3;n</strong > : Los Titulares de datos personales podr&#xE1;n
      solicitar prueba de la autorizaci&#xF3;n otorgada para el tratamiento de sus datos, de conformidad con lo previsto
      en el art&#xED;culo 9 de la Ley 1581 de 2012. Se except&#xFA;an de esta obligaci&#xF3;n los datos se&#xF1;alados
      en el art&#xED;culo 10 de esta Ley.
    </li >
    <li ><strong >Derecho a ser informado frente al uso que se le ha dado a sus datos personales</strong >: Los
      Titulares de datos personales tienen derecho a conocer en cualquier momento el uso que se les ha dado a sus datos
      personales previa solicitud dirigida al responsable del Tratamiento.
    </li >
    <li ><strong >Derecho a revocar la autorizaci&#xF3;n y/o a solicitar la supresi&#xF3;n del dato</strong >: Los
      Titulares de datos personales podr&#xE1;n revocar la autorizaci&#xF3;n otorgada a el punto digital para el
      Tratamiento de sus datos personales, si evidencian que no han sido respetados los principios, derechos y garant&#xED;as
      constitucionales y legales.
    </li >
    <li ><strong >Derecho a acceder a sus datos personales</strong >: Los Titulares de datos personales podr&#xE1;n
      acceder de forma gratuita a sus datos personales que hayan sido objeto de tratamiento.
    </li >
  </ol >
  <h2 class="mume-header" id="5-autorizaci%C3%B3n" >5. AUTORIZACI&#xD3;N</h2 >

  <h3 class="mume-header" id="51-autorizaci%C3%B3n" >5.1. Autorizaci&#xF3;n</h3 >

  <p >Los Titulares de datos personales podr&#xE1;n dar su autorizaci&#xF3;n a el punto digital para el tratamiento de
    estos, a trav&#xE9;s de cualquier medio, que pueda ser objeto de consulta posterior.</p >
  <p >La unidad administrativa del punto digital que requiera datos de un Titular, al momento de solicitar la autorizaci&#xF3;n,
    deber&#xE1; informarle de manera clara y expresa lo siguiente:</p >
  <ol >
    <li >El tratamiento al cual ser&#xE1;n sometidos sus datos personales, que, en el caso que el punto digital, se
      enmarca en el cumplimiento de su objeto social.
    </li >
    <li >El car&#xE1;cter facultativo de la respuesta a las preguntas que le sean hechas, cuando &#xE9;stas versen sobre
      datos sensibles o sobre datos de ni&#xF1;as, ni&#xF1;os y adolescentes.
    </li >
    <li >Los derechos que le asisten como Titular.</li >
    <li >La direcci&#xF3;n f&#xED;sica y electr&#xF3;nica a trav&#xE9;s de las cuales puede ejercer los derechos que le
      asisten como Titular de datos personales ante el punto digital, como responsable del Tratamiento.
    </li >
  </ol >
  <h3 class="mume-header" id="52-casos-en-los-que-no-se-requiere-autorizaci%C3%B3n-del-titular-de-los-datos" >5.2. Casos
    en los que no se requiere autorizaci&#xF3;n del titular de los datos</h3 >

  <p >De acuerdo con lo establecido en el art&#xED;culo 10 de la Ley 1581 de 2012, la autorizaci&#xF3;n del titular no
    ser&#xE1; necesaria cuando se trate de:</p >
  <ol >
    <li >Informaci&#xF3;n requerida por una entidad p&#xFA;blica o administrativa en ejercicio de sus funciones legales
      o por orden judicial. b. Datos de naturaleza p&#xFA;blica
    </li >
    <li >Casos de urgencia m&#xE9;dica o sanitaria</li >
    <li >Tratamiento de informaci&#xF3;n autorizado por la ley para fines hist&#xF3;ricos, estad&#xED;sticos o cient&#xED;ficos.</li >
    <li >Datos relacionados con el Registro Civil de las personas.</li >
  </ol >
  <h2 class="mume-header" id="6-deberes-del-responsable-del-tratamiento" >6. DEBERES DEL RESPONSABLE DEL
    TRATAMIENTO</h2 >

  <p >El punto digital como responsable del Tratamiento de los datos personales presenta los siguientes<br >
    deberes a su cargo:</p >
  <ol >
    <li >Garantizar al Titular, en todo tiempo, el pleno y efectivo derecho de H&#xE1;beas Data.</li >
    <li >Solicitar y conservar, copia de la autorizaci&#xF3;n otorgada por el Titular.</li >
    <li >Informar debidamente al Titular sobre la finalidad de la recolecci&#xF3;n y los derechos que le asisten por
      virtud de la autorizaci&#xF3;n otorgada.
    </li >
    <li >Conservar la informaci&#xF3;n bajo las condiciones de seguridad necesarias para impedir su adulteraci&#xF3;n, p&#xE9;rdida,
      consulta, uso o acceso no autorizado o fraudulento.
    </li >
    <li >Rectificar la informaci&#xF3;n cuando &#xE9;sta sea incorrecta y comunicar lo pertinente a cada Encargado del
      Tratamiento.
    </li >
    <li >Tramitar las consultas y reclamos formulados en los t&#xE9;rminos se&#xF1;alados en la Ley 1581 de 2012.</li >
    <li >Actualizar las novedades sobre la informaci&#xF3;n reportada por los Titulares de los datos dentro de los cinco
      (5) d&#xED;as h&#xE1;biles contados a partir del recibo.
    </li >
    <li >Realizar oportunamente la actualizaci&#xF3;n, rectificaci&#xF3;n o supresi&#xF3;n de los datos en los t&#xE9;rminos
      se&#xF1;alados en la ley 1581 de 2012.
    </li >
  </ol >
  <h2 class="mume-header" id="7-deberes-de-los-encargados-del-tratamiento" >7. DEBERES DE LOS ENCARGADOS DEL
    TRATAMIENTO</h2 >

  <p >Son deberes de las personas naturales o jur&#xED;dicas que, por cuenta del punto digital, realicen el<br >
    tratamiento de bases de datos personales, como encargados del tratamiento, los siguientes:</p >
  <ol >
    <li >Garantizar al Titular, en todo tiempo, el pleno y efectivo derecho del H&#xE1;beas Data.</li >
    <li >Conservar la informaci&#xF3;n bajo las condiciones de seguridad necesarias para impedir su adulteraci&#xF3;n, p&#xE9;rdida,
      consulta, uso o acceso no autorizado o fraudulento.
    </li >
    <li >Realizar oportunamente la actualizaci&#xF3;n, rectificaci&#xF3;n o supresi&#xF3;n de los datos en los t&#xE9;rminos
      se&#xF1;alados en la Lay 1581 de 2012.
    </li >
    <li >Actualizar las novedades sobre la informaci&#xF3;n reportada por el responsable del Tratamiento dentro de los
      (5) d&#xED;as h&#xE1;biles contados a partir de su recibo.
    </li >
    <li >Abstenerse de circular informaci&#xF3;n que est&#xE9; siendo controvertida por el Titular y cuyo bloqueo haya
      sido ordenado por la Superintendencia de Industria y Comercio.
    </li >
  </ol >
  <h2 class="mume-header" id="8-responsable-y-encargados-del-tratamiento" >8. RESPONSABLE Y ENCARGADOS DEL
    TRATAMIENTO</h2 >

  <p >El punto digital, como persona jur&#xED;dica es el responsable del Tratamiento de los datos personales que reposan
    en las bases de datos de cada una de las &#xE1;reas que la conforman. Sin embargo, se han designado como Encargados
    del Tratamiento a las siguientes unidades administrativas y acad&#xE9;micas en virtud de la clase de datos manejados
    por estas:</p >
  <table >
    <thead >
    <tr >
      <th >CLASES DE DATOS</th >
      <th >UNIDAD ENCARGADA</th >
    </tr >
    </thead >
    <tbody >
    <tr >
      <td >Estudiantes activos e inactivos <br >Estudiantes Asesorados</td >
      <td >Direcci&#xF3;n de Registro Acad&#xE9;mico<br >Direcci&#xF3;n Central de Estudiantes- Unidades acad&#xE9;micas
      </td >
    </tr >
    <tr >
      <td >Empleados activos<br >Empleados inactivos</td >
      <td >Direcci&#xF3;n de Desarrollo Humano</td >
    </tr >
    <tr >
      <td >Proveedores</td >
      <td >Direcci&#xF3;n Financiera</td >
    </tr >
    <tr >
      <td >Deudores</td >
      <td >Direcci&#xF3;n Financiera</td >
    </tr >
    </tbody >
  </table >
  <h2 class="mume-header" id="9-finalidades-en-el-tratamiento-de-la-informaci%C3%B3n-por-parte-del-punto-digital" >9.
    FINALIDADES EN EL TRATAMIENTO DE LA INFORMACI&#xD3;N POR PARTE DEL PUNTO DIGITAL</h2 >

  <p >El punto digital realizar&#xE1; el tratamiento de los datos personales autorizados por sus titulares en el marco
    de su actividad econ&#xF3;mica y objeto social, de manera enunciativa, con las siguientes finalidades:</p >
  <table >
    <thead >
    <tr >
      <th >TITULARES</th >
      <th >FINALIDADES</th >
    </tr >
    </thead >
    <tbody >
    <tr >
      <td >Aspirantes,<br >estudiantes,<br >egresados,<br >graduados y<br >clientes</td >
      <td >actividades investigativas; pr&#xE1;cticas profesionales; biblioteca; participaci&#xF3;n en eventos o
        concursos (acad&#xE9;micos, culturales, recreativos, deportivos), congresos y/o seminarios; temas
        investigativos, estad&#xED;sticos y mediciones de percepci&#xF3;n y satisfacci&#xF3;n.
      </td >
    </tr >
    <tr >
      <td >Empleados<br >(administrativos y profesores)</td >
      <td >Desarrollo de actividades acad&#xE9;micas e investigativas; env&#xED;o de informaci&#xF3;n de ofertas
        laborales; procesos de selecci&#xF3;n; afiliaci&#xF3;n al Sistema de Seguridad Social Integral (Salud, Pensi&#xF3;n
        y Riesgos Laborales); implementaci&#xF3;n del Sistema de Seguridad y Salud en el Trabajo; ejecuci&#xF3;n de
        convenios con terceros para el otorgamiento de beneficios; pago de n&#xF3;mina, bienestar organizacional;
        afiliaci&#xF3;n a cajas de compensaci&#xF3;n familiar; fondo de empleados; ofrecimiento de programas educativos;
        becas y ayudas econ&#xF3;micas; participaci&#xF3;n en eventos o concursos (acad&#xE9;micos, culturales,
        recreativos, deportivos), congresos y/o seminarios; atenci&#xF3;n en centro m&#xE9;dico; difusi&#xF3;n de
        informaci&#xF3;n a trav&#xE9;s de los medios de comunicaci&#xF3;n del punto digital; temas publicitarios,
        comerciales, investigativos, estad&#xED;sticos, de mercadeo; inteligencia de mercados y mediciones de percepci&#xF3;n
        y satisfacci&#xF3;n; marketing digital; networking y, en general, para todas las actividades dirigidas a
        mantener, desarrollar y controlar la relaci&#xF3;n contractual y que se enmarquen dentro del objeto social del
        punto digital.
      </td >
    </tr >
    </tbody >
  </table >
  <h2 class="mume-header" id="10-atenci%C3%B3n-a-los-titulares-de-datos" >10. ATENCI&#xD3;N A LOS TITULARES DE
    DATOS</h2 >

  <p >El punto digital ser&#xE1; la encargada de la atenci&#xF3;n de peticiones, consultas y reclamos que los titulares
    de datos personales a trav&#xE9;s cualquiera de los siguientes canales, atendiendo los requisitos para e tr&#xE1;mite
    de consultas y reclamos establecidos en el punto 10 de la presente pol&#xED;tica:</p >
  <ul >
    <li >WhatsApp: 377 998 85 40</li >
    <li >Correo electr&#xF3;nico: <a href="mailto:protecciondedatos@puntodigital.com" >protecciondedatos@puntodigital.com</a >
    </li >
  </ul >
  <h2 class="mume-header" id="11-procedimientos-para-ejercer-los-derechos-del-titular" >11. PROCEDIMIENTOS PARA EJERCER
    LOS DERECHOS DEL TITULAR</h2 >

  <h3 class="mume-header" id="111-derecho-de-acceso-o-consulta" >11.1. Derecho de acceso o consulta</h3 >

  <p >El titular de los datos personales puede ejercer el derecho de acceso o consulta de sus datos mediante un escrito
    dirigido al punto digital al correo electr&#xF3;nico <a href="mailto:protecciondedatos@puntodigital.com" >protecciondedatos@puntodigital.com</a >.
  </p >
  <p >La solicitud deber&#xE1; contener los siguientes datos:</p >
  <ul >
    <li >Indicar en el asunto <em >&#x201C;Ejercicio del derecho de acceso o consulta&#x201D;.</em ></li >
    <li >Nombre y apellidos del titular.</li >
    <li >Fotocopia de la c&#xE9;dula de ciudadan&#xED;a del titular o de cualquier otro documento que permita
      identificar que el titular de los datos es quien realiza la solicitud, o fotocopia de la c&#xE9;dula de ciudadan&#xED;a
      o documento de identificaci&#xF3;n de quien representa al titular y documento que acredite la representaci&#xF3;n
      en tal caso.
    </li >
    <li >Petici&#xF3;n en que se concreta la solicitud de acceso o consulta.</li >
    <li >Direcci&#xF3;n para notificaciones, fecha y firma del solicitante.</li >
    <li >Documentos que soporten la petici&#xF3;n formulada, cuando corresponda.</li >
  </ul >
  <p >Una vez recibida la solicitud, El punto digital resolver&#xE1; la petici&#xF3;n de consulta en un plazo m&#xE1;ximo
    de diez (10) d&#xED;as h&#xE1;biles contados a partir de la fecha de recibo de esta. Cuando no fuere posible atender
    la consulta dentro de dicho t&#xE9;rmino, se le informar&#xE1; al interesado, expresando los motivos de la demora y
    se&#xF1;alando la fecha en que se atender&#xE1; su consulta, la cual en ning&#xFA;n caso podr&#xE1; superar los
    cinco (5) d&#xED;as h&#xE1;biles siguientes al vencimiento del primer t&#xE9;rmino.</p >
  <h3 class="mume-header" id="112-reclamos" >11.2. Reclamos</h3 >

  <p >El titular de los datos puede presentar reclamo sobre sus datos mediante un escrito dirigido al punto digital
    enviado al correo electr&#xF3;nico <a href="mailto:protecciondedatos@puntodigital.com" >protecciondedatos@puntodigital.com</a >.
  </p >
  <p >Indicar en el asunto &#x201C;Reclamo o Queja para correcci&#xF3;n/supresi&#xF3;n/revocaci&#xF3;n o por infracci&#xF3;n&#x201D;</p >
  <ul >
    <li >Nombre y apellidos del Titular.</li >
    <li >Fotocopia de la c&#xE9;dula de ciudadan&#xED;a del titular o de cualquier otro documento que permita
      identificar que el titular de los datos es quien realiza la solicitud o fotocopia de la c&#xE9;dula de ciudadan&#xED;a
      o documento de identificaci&#xF3;n de quien representa al titular y documento que acredite la representaci&#xF3;n
      en tal caso.
    </li >
    <li >Descripci&#xF3;n de los hechos y petici&#xF3;n en que se concreta la solicitud de correcci&#xF3;n, supresi&#xF3;n,
      revocaci&#xF3;n o infracci&#xF3;n.
    </li >
    <li >Direcci&#xF3;n para notificaciones, fecha y firma del solicitante.</li >
    <li >Documentos que soporten la petici&#xF3;n formulada que se quiera hacer valer, cuando corresponda.</li >
  </ul >
  <p >Si el reclamo resulta incompleto, se requerir&#xE1; al interesado dentro de los cinco (5) d&#xED;as siguientes a
    la recepci&#xF3;n del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del
    requerimiento, sin que el solicitante presente la informaci&#xF3;n requerida, se entender&#xE1; que ha desistido del
    reclamo.</p >
  <p >Una vez recibido el reclamo completo, se incluir&#xE1; en la base de datos una leyenda que diga &#x201C;reclamo en
    tr&#xE1;mite&#x201D; y el motivo de este, en un t&#xE9;rmino no mayor a dos (2) d&#xED;as h&#xE1;biles. Dicha
    leyenda deber&#xE1; mantenerse hasta que el reclamo sea decidido.</p >
  <p >El punto digital resolver&#xE1; el reclamo en un plazo m&#xE1;ximo de quince (15) d&#xED;as h&#xE1;biles contados
    a partir del d&#xED;a siguiente a la fecha de su recibo. Cuando no fuere posible atender al reclamo dentro de dicho
    t&#xE9;rmino, se informar&#xE1; al interesado los motivos de la demora y la fecha en que se atender&#xE1; su
    reclamo, la cual en ning&#xFA;n caso podr&#xE1; superar los ocho (8) d&#xED;as h&#xE1;biles siguientes al
    vencimiento del primer t&#xE9;rmino.</p >
  <h2 class="mume-header" id="12-aplicaci%C3%B3n-de-la-ley-de-protecci%C3%B3n-de-datos-personales" >12. APLICACI&#xD3;N
    DE LA LEY DE PROTECCI&#xD3;N DE DATOS PERSONALES</h2 >

  <p >En lo no previsto en la presente Pol&#xED;tica se aplicar&#xE1; lo dispuesto en la Ley 1581 de 2012 y sus decretos
    reglamentarios, o cualquier otra norma vigente que la modifique, adicione o sustituya.</p >
  <h2 class="mume-header" id="13-vigencia" >13. VIGENCIA</h2 >

  <p >La presente pol&#xED;tica fue aprobada por el punto digital y entra en vigor a partir de su publicaci&#xF3;n.</p >
  <p >El punto digital se reserva el derecho de modificar este documento, cuando lo considere pertinente.</p >
  <h2 class="mume-header" id="14-notas" >14. Notas</h2 >

  <p ><sup >1</sup >: Los datos biom&#xE9;tricos son aquellos rasgos f&#xED;sicos, biol&#xF3;gicos o de comportamiento
    de un individuo que lo identifican como &#xFA;nico del resto de la poblaci&#xF3;n. Aquellos sistemas inform&#xE1;ticos
    en los que se mide alg&#xFA;n dato biom&#xE9;trico, como parte del proceso de identificaci&#xF3;n y/o autentificaci&#xF3;n
    de un sujeto, son conocidos como sistemas de seguridad biom&#xE9;trica o simplemente sistemas biom&#xE9;tricos. La
    siguiente lista son algunos ejemplos de datos biom&#xE9;tricos: huellas dactilares, geometr&#xED;a de la mano, an&#xE1;lisis
    del iris, an&#xE1;lisis de retina, venas del dorso de la mano, rasgos faciales, patr&#xF3;n de voz, firma
    manuscrita, din&#xE1;mica de tecleo, cadencia del paso al caminar, an&#xE1;lisis gestual, an&#xE1;lisis del ADN
    (Revista Seguridad Defensa Digital).</p >

</div >
